<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.arttir-btn').click(function () {
                var alt_kategori_id = $(this).data('alt-kategori-id');
                $.ajax({
                    url: '/increase/' + alt_kategori_id,
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            $('#deger-' + alt_kategori_id).text(response.yeni_deger);

                        }
                    },
                    error: function () {
                        console.log('error occured');
                    }
                });
            });
        });
             </script>
{% extends 'base.html' %}
{% block content %}

<h1 class="title">{% block title %} Material Types {% endblock %}</h1>
<div class="content">
        {% for product in products_in_category %}
            <div class="category">
                <p><b>#{{ product.product_id }}</b></p>
                <b>
                    <p class="name">{{ product.product_name|replace("_", " ")|capitalize }}</p>
                    <span id="deger-{{ product.product_stock }}">{{ "Number of stocks = " ~ product.product_stock }}</span>
                </b>
                <br>
                <form action="{{ url_for('increase',product_id=product.product_id) }}">
            <button type="button" class="btn btn-success btn-lg arttir-btn" style="margin-top: 20px; margin-right: 80px"  data-alt-kategori-id="{{ product.product_id }}">
                Increase</button>
</form>
            <button name="decrease" type="button" class="btn btn-danger btn-lg" style="margin-top: 20px; margin-right: 80px">Decrease</button>

            </div>

        {% endfor %}
    </div>
{% endblock %}