<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.arttir-btn').click(function () {
                var alt_kategori_id = $(this).data('alt-kategori-id');
                $.ajax({
                    url: '/increase/' + alt_kategori_id,
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            $('#deger-' + alt_kategori_id).text(response.yeni_deger);
                        location.reload();
                        }
                    },
                    error: function () {
                        console.log('error occured');
                    }
                });
            });
            $('.azalt-btn').click(function () {
                var alt_kategori_id = $(this).data('alt-kategori-id');
                $.ajax({
                    url: '/decrease/' + alt_kategori_id,
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            $('#deger-' + alt_kategori_id).text(response.yeni_deger);
                        location.reload();
                        }
                    },
                    error: function () {
                        console.log('error occured');
                    }
                });
            });
        });
             </script>
{% extends 'base.html' %}
{% block content %}

<h1 class="title">{% block title %} Material Types {% endblock %}</h1>
<div class="content">
    <form action="" method="post" name="categories">
        {% for product in products_in_category %}
            <div class="category">
            <label class="checkbox">
              <input type="checkbox" name="product_keys" value="{{ product.product_id }}"/>
            </label>
                <a href="{{ url_for('product_details', category_id=product.category_id) }}"></a>
                <b>#{{ product.product_id }}</b>

                <b>
                    <p class="name">{{ product.product_name|replace("_", " ")|capitalize }}</p>
                    <p class="notbold">{{ product.product_description }}</p>
                    </b>
                        <b>
                    <span id="deger-{{ product.product_stock }}">{{ "Number of stocks = " ~ product.product_stock }}</span>
                            </b>

                <br>

                <div style="display: flex; justify-content: center">
                    <div class="buttons">
            <button type="button" class="btn btn-success btn-lg arttir-btn" style="margin-top: 20px; margin-right: 80px;flex: 1 0 20%" formaction="{{ url_for('increase',product_id=product.product_id)}}"  data-alt-kategori-id="{{ product.product_id }}">
                Increase</button>
                <!-- <form action="{{ url_for('decrease',product_id=product.product_id)}}" </form>>-->
            <button type="button" class="btn btn-danger btn-lg azalt-btn " style="margin-top: 20px; margin-right: 80px;flex: 1 0 20%" data-alt-kategori-id="{{ product.product_id }}" formaction="{{ url_for('decrease',product_id=product.product_id)}}"> Decrease</button>
</div>
                    </div>
            </div>
        {% endfor %}
        <br>
    <div class="col text-center">
          <button class="btn btn-danger btn-lg">Delete</button>
        </div>
</form>
    </div>
{% endblock %}